<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>      
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink("Главная", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Все лоты аукциона", "Index", "CRUD")
                </li>
                <li>
                    @Html.ActionLink("Мои лоты", "Index", "Customer")
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
